@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap");

@import "color";
@import "mediaqueries";

$font-family: "Kumbh Sans", sans-serif;

header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 3em;
  align-items: center;
  padding: 1em 6em;
  font-family: $font-family;

  nav {
    justify-self: center;

    .menu {
      display: none;
    }
    .navlist {
      display: flex;
      gap: 1.4em;

      a {
        text-decoration: none;
      }
    }
  }

  .cart-profile {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3em;

    .profile {
      width: 30%;

      img {
        width: 100%;
      }
    }
  }
}
hr {
  background-color: $Grayish-blue;
  margin: 0.3em 4em;
}
