*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "header";
body {
  position: relative;
  font-family: $font-family;
}
main {
  display: flex;
  gap: 2em;
  margin: 4em 6em 1em;
  justify-content: center;
  align-items: center;

  .products {
    // @include largish {
    //   width: 80%;
    // }
    .prod-display {
      margin-bottom: 1em;
      width: 100%;

      img {
        border-radius: 1em;
        width: 90%;

        // @include largish {
        //   width: 60%;
        // }
      }
    }
    .prods {
      display: flex;
      gap: 2em;

      @include large {
        gap: 1.2em;
      }
      // @include largish {
      //   gap: 1em;
      // }

      img {
        border-radius: 1em;
        width: 19%;

        // @include largish {
        //   width: 16%;
        // }
      }
    }
  }

  .info {
    .comp {
      color: $Orange;
      text-transform: uppercase;
      line-height: 120%;
      margin-bottom: 1.2em;
    }
    .edition {
      color: $Black;
      font-size: 4em;
      font-weight: 700;
      line-height: 110%;
    }
    .gray-info {
      color: $Grayish-blue;
      margin: 1.5em 0;
      font-size: 1em;
    }
    .price {
      .sale {
        color: $Black;
        font-size: 1.8em;
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: 0.5em;

        span#off {
          color: $Orange;
          font-size: 16px;
          background-color: $Pale-orange;
          padding: 0.3em;
          border-radius: 0.4em;
        }
      }

      .cut {
        color: $Grayish-blue;
        text-decoration: line-through;
      }
    }

    .add-to {
      display: flex;
      gap: 1em;
      margin-top: 1em;

      .number {
        display: flex;
        background-color: $Light-grayish-blue;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 0.4em 1em;
        border-radius: 0.3em;
      }

      .button {
        padding: 0.4em 1em;
        border-radius: 0.3em;
        background-color: $Orange;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        color: $White;
      }
    }
  }
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;

  .pop-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    width: 40%;

    .pop-close {
      background-color: $Orange;
      padding: 1em;
      width: 3em;
      height: 3em;
      border-radius: 50%;
      align-self: flex-end;
    }
    .prod-switch {
      display: flex;
      align-items: center;
      .switch {
        background-color: $White;
        width: 4em;
        height: 4em;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;

        img {
          width: 50%;
        }
      }
      .left {
        left: -3%;
      }
      .right {
        right: -3%;
      }

      .pop-display {
        margin-bottom: 1em;
        width: 100%;

        img {
          border-radius: 1em;
          width: 100%;
        }
      }
    }
    .prods {
      display: flex;
      justify-content: center;
      gap: 2em;

      img {
        border-radius: 1em;
        width: 19%;
      }
    }
  }
}

.active {
  border: 3px solid $Orange;
  background-color: $Light-grayish-blue;
  filter: blur(50%) brightness(0);
}

footer {
  position: fixed;
  bottom: 0%;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;

  .attribution {
    font-size: 11px;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
