@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 3em;
  align-items: center;
  padding: 1em 6em;
  font-family: "Kumbh Sans", sans-serif;
}
header nav {
  justify-self: center;
}
header nav .menu {
  display: none;
}
header nav .navlist {
  display: flex;
  gap: 1.4em;
}
header nav .navlist a {
  text-decoration: none;
}
header .cart-profile {
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3em;
}
header .cart-profile .profile {
  width: 30%;
}
header .cart-profile .profile img {
  width: 100%;
}

hr {
  background-color: hsl(220, 14%, 75%);
  margin: 0.3em 4em;
}

body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  gap: 2em;
  margin: 4em 6em 1em;
  justify-content: center;
  align-items: center;
}
main .products .prod-display {
  margin-bottom: 1em;
  width: 100%;
}
main .products .prod-display img {
  border-radius: 1em;
  width: 90%;
}
main .products .prods {
  display: flex;
  gap: 2em;
}
@media (max-width: 1024px) {
  main .products .prods {
    gap: 1.2em;
  }
}
main .products .prods img {
  border-radius: 1em;
  width: 19%;
}
main .info .comp {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  line-height: 120%;
  margin-bottom: 1.2em;
}
main .info .edition {
  color: hsl(0, 0%, 0%);
  font-size: 4em;
  font-weight: 700;
  line-height: 110%;
}
main .info .gray-info {
  color: hsl(220, 14%, 75%);
  margin: 1.5em 0;
  font-size: 1em;
}
main .info .price .sale {
  color: hsl(0, 0%, 0%);
  font-size: 1.8em;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
main .info .price .sale span#off {
  color: hsl(26, 100%, 55%);
  font-size: 16px;
  background-color: hsl(25, 100%, 94%);
  padding: 0.3em;
  border-radius: 0.4em;
}
main .info .price .cut {
  color: hsl(220, 14%, 75%);
  text-decoration: line-through;
}
main .info .add-to {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
main .info .add-to .number {
  display: flex;
  background-color: hsl(223, 64%, 98%);
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 0.4em 1em;
  border-radius: 0.3em;
}
main .info .add-to .button {
  padding: 0.4em 1em;
  border-radius: 0.3em;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: hsl(0, 0%, 100%);
}

.pop-up {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
}
.pop-up .pop-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  width: 40%;
}
.pop-up .pop-container .pop-close {
  background-color: hsl(26, 100%, 55%);
  padding: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  align-self: flex-end;
}
.pop-up .pop-container .prod-switch {
  display: flex;
  align-items: center;
}
.pop-up .pop-container .prod-switch .switch {
  background-color: hsl(0, 0%, 100%);
  width: 4em;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
}
.pop-up .pop-container .prod-switch .switch img {
  width: 50%;
}
.pop-up .pop-container .prod-switch .left {
  left: -3%;
}
.pop-up .pop-container .prod-switch .right {
  right: -3%;
}
.pop-up .pop-container .prod-switch .pop-display {
  margin-bottom: 1em;
  width: 100%;
}
.pop-up .pop-container .prod-switch .pop-display img {
  border-radius: 1em;
  width: 100%;
}
.pop-up .pop-container .prods {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.pop-up .pop-container .prods img {
  border-radius: 1em;
  width: 19%;
}

.active {
  border: 3px solid hsl(26, 100%, 55%);
  background-color: hsl(223, 64%, 98%);
  filter: blur(50%) brightness(0);
}

footer {
  position: fixed;
  bottom: 0%;
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}
footer .attribution {
  font-size: 11px;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */